.section {
  background: #c747db;
  padding: 20px;
}

.section h2 {
  text-align: center;
}

/* this is for the Contact FORM */
.contact {
  margin: 20px;
}

.contact input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.css {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 8px;
  padding: 5px;
  width: 150px;
}

.golf {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 2px;
  padding: 5px;
  width: 150px;
}
.js {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 8px;
  padding: 5px;
  width: 150px;
}
.masters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 8px;
  padding: 5px;
  width: 150px;
}
.reactImage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 8px;
  padding: 5px;
  width: 150px;
}
.sql {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 8px;
  padding: 5px;
  width: 150px;
}

.footer ul{
  list-style-type: square;
}